[default]
ConnectionType=acceptor
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
ValidOrderTypes=1,2,F
UseDataDictionary=Y
DefaultMarketPrice=12.30
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
AllowUnknownMsgFields=Y
PersistMessages=Y

#Storage and logging
JdbcDriver=org.postgresql.Driver
JdbcURL=jdbc:postgresql://localhost:5432/quickfix?socketTimeout=30
JdbcUser=postgres
JdbcPassword=postgres
JdbcLogHeartBeats=N
JdbcStoreMessagesTableName=messages
JdbcStoreSessionsTableName=sessions
JdbcLogEventTable=log_events
JdbcLogIncomingTable=log_income_messages
JdbcLogOutgoingTable=log_outgoing_messages

[SESSION]
SenderCompID=SOSUV_SERVER_44
TargetCompID=SOSUV_WORKFLOW
BeginString=FIX.4.4
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
firmname=INTERNAL
DataDictionary=/opt/sosuv/repositories/sosuv-fix-server/src/main/resources/fix/FIX44.xml
ConnectionType=acceptor
Normalization=Y
NormalizationClientIds=Client2,Client1
SocketAcceptPort=8089
UseDataDictionary=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=Y
ResetOnLogout=N
ResetOnDisconnect=N


[SESSION]
SenderCompID=SOSUV_SERVER_44_1
TargetCompID=SOSUV_VAYU_44
BeginString=FIX.4.4
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
firmname=Sosuv
DataDictionary=/opt/sosuv/repositories/sosuv-fix-server/src/main/resources/fix/FIX44.xml
ConnectionType=acceptor
Normalization=N
SocketAcceptPort=9881
UseDataDictionary=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=Y
ResetOnLogout=N
ResetOnDisconnect=N


[SESSION]
SenderCompID=SOSUV_SERVER
TargetCompID=BANZAI
BeginString=FIX.4.2
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
firmname=Sosuv
DataDictionary=/opt/sosuv/repositories/sosuv-fix-server/src/main/resources/fix/FIX42.xml
ConnectionType=acceptor
Normalization=N
SocketAcceptPort=9881
UseDataDictionary=N
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=N
ResetOnLogout=N
ResetOnDisconnect=N


[SESSION]
SenderCompID=SOSUV_SERVER
TargetCompID=FIXIMULATOR_INIT
BeginString=FIX.4.2
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
firmname=Sosuv
DataDictionary=/opt/sosuv/repositories/sosuv-fix-server/src/main/resources/fix/FIX42.xml
ConnectionType=acceptor
Normalization=N
SocketAcceptPort=9881
UseDataDictionary=N
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=N
ResetOnLogout=N
ResetOnDisconnect=N


[SESSION]
SenderCompID=SOSUV_SERVER
TargetCompID=SOSUV_VAYU
BeginString=FIX.4.2
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
firmname=Sosuv
DataDictionary=/opt/sosuv/repositories/sosuv-fix-server/src/main/resources/fix/FIX42.xml
ConnectionType=acceptor
Normalization=N
SocketAcceptPort=9881
UseDataDictionary=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=Y
ResetOnLogout=N
ResetOnDisconnect=N


[SESSION]
SenderCompID=SOSUV_SERVER
TargetCompID=CLIENT42
BeginString=FIX.4.2
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
firmname=Sosuv
DataDictionary=/opt/sosuv/repositories/sosuv-fix-server/src/main/resources/fix/FIX42.xml
ConnectionType=acceptor
Normalization=N
SocketAcceptPort=9880
UseDataDictionary=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=Y
ResetOnLogout=N
ResetOnDisconnect=N


[SESSION]
SenderCompID=SOSUV_SERVER
TargetCompID=SOSUV_WORKFLOW
BeginString=FIX.4.2
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
firmname=Sosuv
DataDictionary=/opt/sosuv/repositories/sosuv-fix-server/src/main/resources/fix/FIX42.xml
ConnectionType=acceptor
Normalization=N
SocketAcceptPort=8089
UseDataDictionary=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=Y
ResetOnLogout=N
ResetOnDisconnect=N


[SESSION]
SenderCompID=SOSUV_SERVER_44
TargetCompID=CLIENT44
BeginString=FIX.4.4
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
firmname=Sosuv
DataDictionary=/opt/sosuv/repositories/sosuv-fix-server/src/main/resources/fix/FIX44.xml
ConnectionType=acceptor
Normalization=N
SocketAcceptPort=9880
UseDataDictionary=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=Y
ResetOnLogout=N
ResetOnDisconnect=N


[SESSION]
SenderCompID=SOSUV_SERVER
TargetCompID=SOSUV_SIM
BeginString=FIX.4.4
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
firmname=Sosuv
DataDictionary=/opt/sosuv/repositories/sosuv-fix-server/src/main/resources/fix/FIX44.xml
ConnectionType=acceptor
Normalization=N
SocketAcceptPort=8888
UseDataDictionary=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=Y
ResetOnLogout=N
ResetOnDisconnect=N


[SESSION]
SenderCompID=SOSUV_SERVER
TargetCompID=SOSUV_SIM_2
BeginString=FIX.4.2
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
firmname=Sosuv
DataDictionary=/opt/sosuv/repositories/sosuv-fix-server/src/main/resources/fix/FIX42.xml
ConnectionType=acceptor
Normalization=N
SocketAcceptPort=8787
UseDataDictionary=N
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=N
ResetOnLogout=N
ResetOnDisconnect=N


[SESSION]
SenderCompID=SOSUV_SERVER
TargetCompID=UNIFY_BUYSIDE
BeginString=FIX.4.4
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
firmname=Sosuv
DataDictionary=/opt/sosuv/repositories/sosuv-fix-server/src/main/resources/fix/FIX44.xml
ConnectionType=acceptor
Normalization=N
SocketAcceptPort=9000
UseDataDictionary=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=Y
ResetOnLogout=N
ResetOnDisconnect=N


[SESSION]
SenderCompID=SOSUV_SERVER_44
TargetCompID=SOSUV_VAYU_44
BeginString=FIX.4.4
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
firmname=Sosuv
DataDictionary=/opt/sosuv/repositories/sosuv-fix-server/src/main/resources/fix/FIX44.xml
ConnectionType=acceptor
Normalization=N
SocketAcceptPort=9881
UseDataDictionary=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=Y
ResetOnLogout=N
ResetOnDisconnect=N


[SESSION]
SenderCompID=SOSUV_SERVER_1
TargetCompID=SOSUV_VAYU_1
BeginString=FIX.4.2
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
firmname=Sosuv
DataDictionary=/opt/sosuv/repositories/sosuv-fix-server/src/main/resources/fix/FIX42.xml
ConnectionType=acceptor
Normalization=N
SocketAcceptPort=9881
UseDataDictionary=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=Y
ResetOnLogout=N
ResetOnDisconnect=N
