[default]
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=40
ValidOrderTypes=1,2,F
UseDataDictionary=Y
DefaultMarketPrice=12.30
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
AllowUnknownMsgFields=Y
PersistMessages=Y

#Storage and logging
JdbcDriver=org.postgresql.Driver
JdbcURL=jdbc:postgresql://10.10.8.79:5432/quickfix?socketTimeout=30
JdbcUser=postgres
JdbcPassword=postgres
JdbcLogHeartBeats=N
JdbcStoreMessagesTableName=messages
JdbcStoreSessionsTableName=sessions
JdbcLogEventTable=log_events
JdbcLogIncomingTable=log_income_messages
JdbcLogOutgoingTable=log_outgoing_messages

[SESSION]
SenderCompID=SOSUV_SERVER
TargetCompID=VAYU
BeginString=FIX.4.2
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
firmname=Sosuv
DataDictionary=/Users/Sparsh Shukla/Documents/repos_BE/sosuv-fix-server/src/main/resources/fix/FIX42.xml
ConnectionType=initiator
Normalization=Y
SocketConnectHost=10.10.8.47
SocketConnectPort=9679
UseDataDictionary=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=Y
ResetOnLogout=N
ResetOnDisconnect=N


[SESSION]
SenderCompID=SOSUVTEST
TargetCompID=GSCO
BeginString=FIX.4.2
StartTime=05:00:00
EndTime=20:00:00
HeartBtInt=30
firmname=Sosuv
DataDictionary=/Users/Sparsh Shukla/Documents/repos_BE/sosuv-fix-server/src/main/resources/fix/FIX42.xml
ConnectionType=initiator
Normalization=N
SocketConnectHost=10.10.8.47
SocketConnectPort=9678
UseDataDictionary=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=N
ResetOnLogout=N
ResetOnDisconnect=N


[SESSION]
SenderCompID=FLOWLINX
TargetCompID=JD_STOCK
BeginString=FIX.4.4
HeartBtInt=30
DataDictionary=/Users/Sparsh Shukla/Documents/repos_BE/sosuv-fix-server/src/main/resources/fix/FIX44.xml
ConnectionType=initiator
Normalization=N
SocketConnectHost=127.0.0.1
SocketConnectPort=4444
UseDataDictionary=N
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=N
ResetOnLogout=N
ResetOnDisconnect=N


[SESSION]
SenderCompID=SOSUV_SERVER_44
TargetCompID=VAYU
BeginString=FIX.4.4
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
firmname=Sosuv
DataDictionary=/Users/Sparsh Shukla/Documents/repos_BE/sosuv-fix-server/src/main/resources/fix/FIX44.xml
ConnectionType=initiator
Normalization=Y
SocketConnectHost=10.10.8.47
SocketConnectPort=9679
UseDataDictionary=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=Y
ResetOnLogout=N
ResetOnDisconnect=N


[SESSION]
SenderCompID=SOSUV_SERVER
TargetCompID=FIXIMULATOR
BeginString=FIX.4.2
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
firmname=INTERNAL
DataDictionary=/Users/Sparsh Shukla/Documents/repos_BE/sosuv-fix-server/src/main/resources/fix/FIX42.xml
ConnectionType=initiator
Normalization=N
SocketConnectHost=10.10.8.47
SocketConnectPort=9678
UseDataDictionary=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=Y
ResetOnLogout=N
ResetOnDisconnect=N


[SESSION]
SenderCompID=SOSUV_SIMULATOR
TargetCompID=SOSUV_SERVER
BeginString=FIX.4.4
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
firmname=Sosuv
DataDictionary=/Users/Sparsh Shukla/Documents/repos_BE/sosuv-fix-server/src/main/resources/fix/FIX44.xml
ConnectionType=initiator
Normalization=N
NormalizationClientIds= 
SocketConnectHost=127.0.0.1
SocketConnectPort=9800
UseDataDictionary=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=N
ResetOnLogout=N
ResetOnDisconnect=N
