[default]
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
ValidOrderTypes=1,2,F
UseDataDictionary=Y
DefaultMarketPrice=12.30
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=Y
ResetOnLogout=Y
ResetOnDisconnect=Y

#Storage and logging
JdbcDriver=org.postgresql.Driver
JdbcURL=jdbc:postgresql://localhost:5432/quickfix?socketTimeout=30
JdbcUser=postgres
JdbcPassword=postgres
JdbcLogHeartBeats=N
JdbcStoreMessagesTableName=messages
JdbcStoreSessionsTableName=sessions
JdbcLogEventTable=log_events
JdbcLogIncomingTable=log_income_messages
JdbcLogOutgoingTable=log_outgoing_messages