[default]
ConnectionType=acceptor
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
ValidOrderTypes=1,2,F
UseDataDictionary=Y
DefaultMarketPrice=12.30
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
PersistMessages=Y

#Storage and logging
JdbcDriver=org.postgresql.Driver
JdbcURL=jdbc:postgresql://localhost:5432/quickfix?socketTimeout=30
JdbcUser=postgres
JdbcPassword=R!C4YaSXXapssxEWA
JdbcLogHeartBeats=N
JdbcStoreMessagesTableName=messages
JdbcStoreSessionsTableName=sessions
JdbcLogEventTable=log_events
JdbcLogIncomingTable=log_income_messages
JdbcLogOutgoingTable=log_outgoing_messages


#CLIENT SIMULATOR SESSION
[session]
BeginString=FIX.4.4
SocketAcceptPort=9880
SenderCompID=FLX_SERVER
TargetCompID=FLX_SIMULATOR
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y
DataDictionary=FIX44.xml
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N


#WORKFLOW SESSION
[session]
BeginString=FIX.4.4
SocketAcceptPort=9870
SenderCompID=FLX_SERVER
TargetCompID=FLX_WORKFLOW
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y
DataDictionary=FIX44.xml
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N

[session]
BeginString=FIX.4.4
ConnectionType=acceptor
SocketConnectHost=54.195.119.150
SocketAcceptPort=9445
SenderCompID=FLOWLINXUAT
TargetCompID=RECAUAT

[session]
BeginString=FIXT.1.1
DefaultApplVerID=FIX.5.0
SocketAcceptPort=9881
UseDataDictionary=N
DataDictionary=dictionary_filename
SenderCompID=FLOWLINXUAT
TargetCompID=RECAUAT
