[default]
ConnectionType=acceptor
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
ValidOrderTypes=1,2,F
UseDataDictionary=Y
DefaultMarketPrice=12.30
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
AllowUnknownMsgFields=Y
PersistMessages=Y

#Storage and logging
JdbcDriver=org.postgresql.Driver
JdbcURL=jdbc:postgresql://localhost:5432/quickfix?socketTimeout=30
JdbcUser=postgres
JdbcPassword=postgres
JdbcLogHeartBeats=N
JdbcStoreMessagesTableName=messages
JdbcStoreSessionsTableName=sessions
JdbcLogEventTable=log_events
JdbcLogIncomingTable=log_income_messages
JdbcLogOutgoingTable=log_outgoing_messages

#CLIENT SIMULATOR SESSION
[session]
BeginString=FIX.4.4
SocketAcceptPort=9880
SenderCompID=SOSUV_SERVER
TargetCompID=SOSUV_SIMULATOR
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N

# VAYU SESSION
[session]
BeginString=FIX.4.4
SocketAcceptPort=9881
SenderCompID=SOSUV_SERVER
TargetCompID=SOSUV_VAYU
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N

#SOSUV SERVER SESSION
[session]
BeginString=FIX.4.4
SocketAcceptPort=9882
SenderCompID=SOSUV_SERVER
TargetCompID=SOSUV
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N

#WORKFLOW SESSION
[session]
BeginString=FIX.4.4
SocketAcceptPort=8089
SenderCompID=SOSUV_SERVER
TargetCompID=SOSUV_WORKFLOW
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y
DataDictionary=/opt/sosuv/repositories/flowlinx-fix-server/src/main/resources/fix/FIX44.xml
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N

#FIXimulator SESSION
[session]
BeginString=FIX.4.4
SocketAcceptPort=8006
SenderCompID=SOSUV_SERVER
TargetCompID=SOSUV
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y
DataDictionary=/opt/sosuv/repositories/flowlinx-fix-server/src/main/resources/fix/FIX44.xml
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N

#JD_STOCK SESSION
[session]
BeginString=FIX.4.4
SocketAcceptPort=9860
SenderCompID=SOSUV_SERVER
TargetCompID=JD_STOCK
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y
DataDictionary=/opt/sosuv/repositories/flowlinx-fix-server/src/main/resources/fix/FIX44.xml
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
